<div class="modal-wrapper">
    <div class="modal-close">
        <button (click)="ms.closeAll()">X</button>
    </div>
    <div class="modal-title">
        <h2>Camera</h2>
        <p class="modal-tech-used">HTML, CSS, JavaScript</p>
    </div>
    
    <p>A responsive webpage using CSS media quries, HTML and minimal JS</p>
    
    <div class="modal-github-links">
        <div>
                <a title="GitHub link" mat-stroked-button color="primary" href="https://github.com/omarsha157/camera-project" target="_blank">Frontend</a>
        </div>
        <a mat-raised-button color="primary" href="https://omarsha157.github.io/camera-project/" target="_blank">visit site</a>
    </div>
</div>