<app-devs-nav></app-devs-nav>
<div routerLink="/devs/workInProgress" class="marquee bit-font">
    <div class="track">
        <div class="content">!!!work in progress!!!work in progress!!!work in progress!!!work in progress!!!work in progress!!!work in progress!!!work in progress!!!work in progress!!!work in progress!!!work in progress!!!work in progress!!!work in progress!!!</div>
    </div>
</div>


<ul class="options bit-font">
    <!-- <li><a routerLink="/devs/docs"><span class="cursor">></span>docs<span class=""></span></a></li> -->

</ul>
