.devs-hero {
    padding-left: 1rem;
    font-size: 3ch;
}

.options {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.options li {
    list-style: none;
}

.options a {
    text-decoration: none;
    color: unset;
}

.cursor {
    visibility: hidden;
}

.options li:hover .cursor {
    animation-name: blinker;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blinker {
    0% { visibility: visible; }
    50% { visibility: hidden; }
    100% { visibility: hidden; }
}

/* marquee */

.marquee {
    padding-top: 2rem;
    font-size: 1.5rem;

    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;
    cursor: pointer;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}