<div class="modal-wrapper">
    <div class="modal-close">
        <button (click)="ms.closeAll()">X</button>
    </div>
    <div class="modal-title">
        <h2>Bank app</h2>
        <p class="modal-tech-used">Angular, NodeJS, MongoDB</p>
    </div>
    
    <p>A Bank app made with angular simulating functionality like registering and login of accounts, debiting, crediting and viewing transaction of the account.</p>
    
    <div class="modal-github-links">
        <div>
                <a title="GitHub link" mat-stroked-button color="primary" href="https://github.com/omarsha157/bankapp" target="_blank">Frontend</a>
                <a title="GitHub link" mat-stroked-button color="primary" href="https://github.com/omarsha157/bankserver" target="_blank">Backend</a>
        </div>
    </div>

</div>