<div class="modal-wrapper">
    <div class="modal-close">
        <button (click)="ms.closeAll()">X</button>
    </div>
    <div class="modal-title">
        <h2>Todo app</h2>
        <p class="modal-tech-used">Angular, Bootstrap, NodeJS, MongoDB</p>
    </div>
    
    <p>A simple Todo app with reigister, login and delete accounts. Add, edit and remove todo's, view all the todo's also logout functionality. </p>
    
    <div class="modal-github-links">
        <div>
                <a title="GitHub link" mat-stroked-button color="primary" href="https://github.com/omarsha157/reminder-app" target="_blank">Frontend</a>
                <a title="GitHub link" mat-stroked-button color="primary" href="https://github.com/omarsha157/reminder-app-server-copy" target="_blank">Backend</a>
        </div>
        <a mat-raised-button color="primary" href="https://moonlit-fairy-2e73fe.netlify.app/" target="_blank">visit site</a>
    </div>

</div>