<div class="modal-wrapper">
    <div class="modal-close">
        <button (click)="ms.closeAll()">X</button>
    </div>
    <div class="modal-title">
        <h2>Portfolio (old)</h2>
        <p class="modal-tech-used">HTML, CSS, JavaScript</p>
    </div>
    
    <p>A responsive portfolio to showcase projects with Light and Dark modes</p>
    
    <div class="modal-github-links">
        <div>
                <a title="GitHub link" mat-stroked-button color="primary" href="https://github.com/omarsha157/portfolio-v1" target="_blank">Frontend</a>
        </div>
        <a mat-raised-button color="primary" href="https://omarsha157.github.io/portfolio-v1/" target="_blank">visit site</a>
    </div>
</div>