<app-main-nav></app-main-nav>
<div class="about">
    <div>
        <h2>Hi, i am omar</h2>
        <p>
            I am from Trivandrum, Kerala. I am a curious individual who seeks to learn new things. I have some
            experience in graphic designing (using Adobe Photoshop). I also have additional experience with softwares like
            Adobe Illustrator and Premiere pro.
        </p>
        <p>
            Currently my interest lies in the field of web developement. I learned the basics like HTML, CSS, Javascript
            along with Bootstrap and responsive design using media queries also the frontend framework Angular and backend
            technologies like Node.js Express.js Monogodb. as of now i am learning React.
        </p>
        <p>
            Other than the totally "unique" hobbies like listening to music,playing video games i really like motorcycles, photography and now learning and testing out new technologies especially those related to web dev cause now I can understand them better.
        </p>
    </div>
</div>