<div class="modal-wrapper">
    <div class="modal-close">
        <button (click)="ms.closeAll()">X</button>
    </div>
    <div class="modal-title">
        <h2>Coffee</h2>
        <p class="modal-tech-used">HTML, CSS</p>
    </div>
    
    <p>A model webpage (non-responsive) for coffee.</p>
    
    <p>Please note if viewed from mobile devices site's layout will be broken.</p>

    <div class="modal-github-links">
        <div>
                <a title="GitHub link" mat-stroked-button color="primary" href="https://github.com/omarsha157/coffee-project" target="_blank">Frontend</a>
        </div>
        <a mat-raised-button color="primary" href="https://omarsha157.github.io/coffee-project/" target="_blank">visit site</a>
    </div>

</div>