.core-wrapper {
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 10vh;
}

@media only screen and (max-width: 992px) {
    .core-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}